body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    background-color: #f8f8f8;
}
/*Aside*/
.image{
   position: relative;
   width: 800px;
   height: 1800px;
   background-size: cover;
   margin-right: 20px;
   background-position: center;
}
    
  
.text{
   position: absolute;
   bottom: 0;
   left: 0;
   background-color:black;
   color: #fff;
   padding: 10px;
   text-align: center;
   width: 100%;
   box-sizing: border-box;
   font-size: 24px;
   
   
}
/*main(header)*/
.header{
    color:black;
    margin-bottom: 20px;
    
}
.content{
    display: block;
    align-items: center;
    justify-content: flex-start; 
    padding: 20px; 
    box-sizing: border-box; 
    width: 100%; 
    background-color: #fff;
    transform: translateX(-150px);
    margin-top: 20px;

}
.content > .top-row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
   
}
.star  {
    width: 200px;
    height: 40px;
    margin-right: 10px; 
}
.number {
    margin: 0;
    font-size :36px;
}
    
h3 {
    margin: 10px 0 0 0; 
    width: 100%;
    text-align: left; 
    font-size: 36px;
    
}

/*top area*/
.principal{
    margin-top: 20px;
    color:black;
}
.container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.container img {
    width: 40px;
    margin-right: 10px;
}

.container h4 {
    margin: 0 10px 0 0;
    font-size: 18px;
    color: black;
}
.container p {
    margin: 0 20px 0 0;
    color: black;
    font-size: 18px;
}
img{
    width: 30px;
}
.single-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
/*bottom*/
.Bottom{
    color: black;
}
.Bottom h2 {
    font-size: 24px;
}

.Bottom ul, .Bottom ol {
    margin: 0;
    padding-left: 20px;
}

.Bottom li {
    margin-bottom: 10px;
}

.Bottom input[type="checkbox"] {
    margin-right: 10px;
}